.movie-card {
    margin: 0 auto;
    background-color: #222222;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    height: 77%;
    margin: 0 auto;
    overflow: hidden;
    height: 280px
}

.movie-card__image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}



.movie-card__description {
    display: grid;
    margin: 0;
    grid-template-columns: 86% 1fr;
    grid-template-rows: 65% 1fr;
    width: 98%;
    align-self: center;
    padding: 14px 17px 10px 14px;
}


.movie-card__button {
   
    width: 30px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    background-color: #222222;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .1s linear;
    cursor: pointer;
    align-self: center;
    border-radius: 36px;
    margin-top: 5px;
}

.movie-card__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: inline-block;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: min-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-card__duration {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
    margin: 0;
    padding: 0;
}

.movie-card__button_liked {
   
}



@media screen and (max-width: 768px) {

    .movie-card__image {
        width: 100%;
        max-height: 190px;
        object-fit: cover;
    }
}

@media screen and (max-width: 425px) {

    .movie-card__image {
        width: 100%;
        max-height: 170px;
        object-fit: cover;

    }

    .movie-card {
        height: 235px
    }
    .movie-card__description {
        display: grid;
        margin: 0;
        grid-template-columns: 83% 1fr;
        grid-template-rows: 65% 1fr;
        width: 98%;
        align-self: center;
        padding: 14px 17px 10px 14px;
    }
    .movie-card__duration {
        margin-top: -6px;
    }
}