.techs{
    background-color: #272727;
}
.techs__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 70px 100px 70px;
}

.techs__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.techs__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 480px;
    margin: 26px 0 100px 0;
    padding: 0;
}

.techs__skill {
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    list-style-type: none;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    line-height: 60px;
    text-align: center;
    background: #303030;
    border-radius: 10px;
}

.techs__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(84px, max-content));
    column-gap: 10px;
    row-gap: 10px;
    max-width: 690px;
    padding: 0;
    margin: 0;
}