@import url('./vendor/normalize.css');
@import url('./vendor/Fonts/fonts.css');

body {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;

 margin: 0 auto;
 background-color: inherit;

}



*{
  /* outline: red 1px solid; */
}